@font-face { font-family: Graphik; font-weight: bold; src: url('font/GraphikBold.otf');}
@font-face { font-family: Graphik; font-weight: normal; src: url('font/GraphikRegular.otf');}
@font-face { font-family: Graphik; font-weight:500; src: url('Src/font/GraphikMedium.otf');}
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
}
body{
font-family: 'Inter', sans-serif;
font-weight: 400;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 50px;
    height: 100%;
    background: black;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 240px;
}
.sidebar .logo-content .logo .logo_name{
margin-left: 40px;
margin-top: 18px;
color: white;
font-family: Graphik,sans-serif;
font-weight: bold;
font-size: 24px;
opacity: 0;
pointer-events: none;
}
.sidebar.active .logo-content .logo .logo_name{
    opacity: 1;
}

.sidebar #btn-bar{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top:20px;
    color: white;
    transform: translateX(-50%);
}
.sidebar.active #btn-bar{
    left:90%;
}
.sidebar .nav-list{
    font-family: Graphik,sans-serif;
    font-weight: normal;
    margin-top: 20px;
    padding:0;
    
    
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    line-height:   50px;
    list-style: none;
}
.sidebar.active ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin-left: 20px;
    line-height:   50px;
    list-style: none;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    line-height: 35px;
    height: 35px;
    width: 122px;
    background: #fff;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    display: block;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1.2;
    background-color: white;
top: 50%;

}
.sidebar ul li a{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 2px;
    margin-left: 2px;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 20px;
    white-space: nowrap;
}
.sidebar.active ul li a{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 44px;
    margin-top: 10px;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 20px;
    white-space: nowrap;
}
.sidebar ul li  i{
    height: 50px;
    line-height: 50px;
    min-width: 50px;
    border-radius: 12px;
    text-align: center;
}
.sidebar ul li a:hover{
    background: white;

    color: black;
}
.sidebar ul li  #search{
    position: absolute;
    cursor: pointer;
    color: white;
    z-index:99;
    line-height: 2.7rem;
    

}
.sidebar.active ul li #search{
    color: black;
}

.sidebar ul li input{
    position: absolute;
    height: 42px;
line-height: 42px;
    width: 200px;
    font-family: Graphik,sans-serif;
    left: 0;
    top: 0;
    padding-left: 50px;
    font-size: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    border-radius: 8px;
border: #D1D1D3 0.2px solid;
font-size: 14px;
font-family: Graphik,sans-serif;
font-weight: normal;
    opacity: 0;
    transition: all 0.5s ease;
}


.sidebar.active ul li input{
    opacity: 1;
}
.sidebar.active .links_name{
opacity:1;
pointer-events: auto;
}
.sidebar .links_name{
    opacity:0;
    }
.sidebar .profile-content{
    height: 65px;
    width: 100%;
    background-color: #252c25;
    position: absolute;
    color: white;
    bottom: 10%;
    left: 0;

}
.sidebar .profile-content .profile{

    position: relative;
    padding:10px 6px;
    height: 60px;
}
.sidebar .profile-content .profile .profile-details{
    display: flex;
    align-items: center;
}
.sidebar.active .profile .profile-details img{
height: 45px;
width: 45px;
margin-left: 20px;
object-fit: cover;
border-radius: 12px;
}
.sidebar .profile .profile-details img{
    height: 45px;
    width: 32px;
    object-fit: cover;
    border-radius: 12px;
    }
.profile .profile-details .username{
       font-family: Graphik,sans-serif;
        font-weight: 500;
        margin-left: 30px;
        color: white;
}

.sidebar.active #logout{
position: absolute;
left: 45%;
color: white;
border-radius: 12px;
bottom: 3%;
cursor: pointer;
}
.sidebar #logout{
    position: absolute;
    left: 35%;
    color: white;
    border-radius: 12px;
    bottom: 3%;
    cursor: pointer;
    }

.sidebar2{
    position: fixed;
    right: 0;
    top: 100px;
    width: 24rem;
    margin-right: 15px;
    height: 15rem;
}
.sidebar.active ~ .sidebar2{
    width: calc(24rem - 240px);
}
.toppart{
    font-family: Graphik,sans-serif;
        font-weight: bold;
        color: black;
        font-size: 18px;
    margin-left: 2rem;
    margin-right: 10px;
}
.toppart .fa-arrow-right{
    margin-left: 6px;
    cursor: pointer;
}
.sidebar2container {
    margin-top: 3px;
    margin-left: 4.1rem;
    width:450px;
}
.cover {
    cursor: pointer;
    float:left;
    border-radius: 3px;
    border: solid 1.2px black;
    margin-left:-50px;
    margin-top:14px;
    transition: 0.3s all ease;
    margin-bottom:50px;
    width:100px;
    height:150px;
}
.cover:hover {
  margin-right:50px; 
  margin-top:0px; 
  margin-bottom:0; 
  transform: scale(1);
  
}
.sidebar3{
    position: fixed;
    right: 0;
    top: 350px;
    width: 24rem;
    margin-right: 15px;
    height: 15rem;
}
.sidebar.active ~ .sidebar3{
    width: calc(24rem - 240px);
}
.toppart{
    font-family: Graphik,sans-serif;
        font-weight: bold;
        color: black;
        font-size: 18px;
    margin-left: 2rem;
    margin-right: 10px;
}
.toppart .fa-arrow-right{
    margin-left: 6px;
    cursor: pointer;
}
.sidebar3container {
    margin-top: 3px;
    margin-left: 4.1rem;
    width:450px;
}
.home-content{
    position: absolute;
    height: 100%;
    background-color: white;
    width: calc(100% - 434px);
    left: 50px;
}
.sidebar.active ~ .home-content{
    position: absolute;
    height: 100%;
    left: 240px;
}
#logo1{
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    font-family: Graphik,sans-serif;
        font-weight: bold;
}
.profilecontainer{
    padding-top: 3rem;
    padding-left: 3rem;
    padding-bottom: 20px;
}
.profiledet{
    display: flex;
}
.profileicon img{
    border: cadetblue 2px solid;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.profileicon img:hover{
    border: cadetblue 2px solid;
}
.profileusername{
    margin-top: 2.8rem;
    margin-left: 1.5rem;
    font-family: Graphik,sans-serif;
        font-weight: bold;
        color: black;
        font-size: 18px;
}
.mainbookscontainer{
    overflow: hidden;
    margin-right: 4rem;
    margin-top: 48px;
    object-fit: cover;
    margin-left:25px;
}
.mainbookscontainer .mainbookstitle{
    font-family: Graphik,sans-serif;
        font-weight: bold;
        color: black;
        font-size: 18px;
        margin-bottom: 1rem;
}
.mainbookscontainer .mainbookswrapper{
    transform: translateX(0);
    transition: all 1s ease;
    position: relative;
    display: flex;
    
}
.booklistitem{
    border: 2px black solid;
    border-radius: 3px;
    margin-left: 5px;
    position: relative;
    background-color: black;
}
.booklistitem:hover{
    border: 2px green solid;
}
.booklistitem:hover .mainbooktitle ,
.booklistitem:hover .likeicon, 
.booklistitem:hover .fa-heart {
opacity: 1;
}
.mainbookscontainer .mainbookswrapper .mainbookcover{
    cursor: pointer;
    width:150px;
    transition: 0.2s all ease-in-out;
    height:220px;

}
.mainbookscontainer .mainbookswrapper .mainbookcover:hover{
    background-color: black;
    opacity: 0.5;
}

.mainbooktitle{
    text-align: center;
    left: 5%;
    top: 40%;
    opacity: 0;
    position: absolute;
    font-family: Graphik,sans-serif;
    font-weight: bold;
    color: white;
    font-size: 18px;
}
.likeicon{
    opacity: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    BOTTOM: 0;
    position: absolute;
    width: 100%;
    padding-top: 5px;
    left: 0;
    background-color: rgb(36, 35, 35);
    color: white;
}
.fa-ellipsis-h:hover{
    color: green;
    cursor: pointer;
}

.fa-heart{
    cursor:pointer;
    text-align: center;
    opacity: 0;
  margin-left: 5px;
  margin-bottom:3px;
  width: 50%;
}
.fa-heart:hover{
    color: green;
}

.mainbookscontainer .fa-arrow-right{
    right: 70px;
    top: 24%;
    position: absolute;
   font-size: 40px;
    color: black;
    opacity: 0.5;
}
.mainbookscontainer #arrow2{
    right: 0px;
    top: 70%;
    position: absolute;
   font-size: 40px;
    color: black;;
}
.dropcontainer.active{
    position: absolute;
    z-index: 1;
    left: 130px;
    display: block;
    border-radius: 7px;
    height: 150px;
    width: 170px;
    border: solid black 1.2px;
    
    bottom: 0;
    background-color: #3697a6;

}
.dropcontainer{
    display: none;
}
.dropcontainer .droplist .dropmenu{
   list-style: none;
   padding: 0;
   

  }
.dropcontainer .droplist .dropmenu a{
  text-decoration: none;
  color: white;
  
}
.dropcontainer .droplist .dropmenu li{
    padding: 9px;
    text-align: center;
  }
.borderbot{
    border-bottom: solid black 1.2px;
  
  }
  .dropcontainer .droplist .dropmenu li:hover{
    background-color: #2E342E;
  }

#buttonedit{
    text-decoration: none;
    background-color: #3697a6;
    color: white;
    /* height: 20px; */
    padding: 5px 5px 5PX 5px;
    margin-top: 5rem;
    margin-left: -110px;
    text-align: center;
    font-family: Graphik,sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 6px;
}
#buttonedit:hover{
    background-color: #252c25;
}

.topart{
    display: flex;
    margin-top: 30px;
}

 #seemore2{
     text-decoration: none;
    margin-left: 22.6rem;

    font-family: Graphik,sans-serif;
        font-weight: bold;
        color: black;
        font-size: 18px;
 }
 .reviewtitle{
    margin-left: 1.8rem;
    font-family: Graphik,sans-serif;
        font-weight: bold;
        color: black;
        font-size: 18px;
 }

 .profile-stats{
    display: flex;
    margin-top: 3rem;
    margin-left: 7rem;


    padding-right: 5px;
 }
 .profile-statistic a{
    text-align: center;
    font-family: Graphik,sans-serif;
    font-weight: bold;
    color: #313631;
    font-size: 14px;
    margin-left: 5rem;
    text-decoration: none;
 }
 .profile-statistic .value{
    color: #252c25;
    display: block;
 }
 .profile-statistic .definition{

    color: #252c25;
    display: block;
    letter-spacing: .075em;
    margin-top: .5em;
    text-transform: uppercase;
 }
 .reviewcontainer{
     display: flex;
     margin-top:14px;
     width: 550px;
     margin-left: 30px;
 }
 .reviewcontainer .reviewedbookimage img{
    cursor: pointer;
    border-radius: 3px;
    border: solid 1.2px black;

    transition: 0.3s all ease;
    margin-bottom:50px;
    width:80px;
    height:110px;
 }
 .reviewdetails {
     margin-left: 1rem;
    font-family: Graphik,sans-serif;
    font-weight: bold;
    color: #313631;
    font-size: 14px;
 }
 .reviewdetails .reviewedbooktitle{
    font-family: Graphik,sans-serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
    margin-right: 3px;
    
 }
 .reviewdetails .userreview{
     margin-top: 0.2rem;
 }
 .reviewdetails .userreviewname{
    font-family: Graphik,sans-serif;
    font-weight: bold;
    color: black;
    font-size: 16px;
 }
 .reviewdetails .reviewedbooktext{
     margin-top: 0.2rem;
     line-height: 1.6;
 }
